/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);

}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);

}
body {
    background: #ccc;
    margin: 3vw 5vw;
    line-height: 1.4;
}
.btn {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
}
img {
    max-width:100%;

}
.wrapper {
    display: grid;
    grid-gap: 20px;
}
/* navigation */
/* .main-nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    background-color: var(--primary);
    padding: 10px;
    text-align: center;

}    */
.main-nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    /* background-color: var(--primary); */
    padding: 0; 
    grid-gap: 20px;

}   
.main-nav a{
    background-color: var(--primary );
    display: block;
    text-decoration: none;
    padding: 0.8em;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow); 
    text-align: center;
}
.main-nav a:hover {
    background-color: var(--dark);
    color: white;
}
/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px; 
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b'  
}
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background-image: url(img/image-1\ \(1\).jpg
    );
    background-position: center;
    background-size: cover;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-shadow: var(--shadow);


}
 .showcase h1{
    text-decoration: none;
    color: var(--light); 
    font-size: 4rem;
    margin-bottom: 0; 
}
.showcase p {
    color: white;
    /* margin: 0; */
    font-size: 1.3rem;

}
.showcase a {
    text-decoration: none;
}
.top-box {
    background-color: var(--primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1rem;
    box-shadow: var(--shadow);
    padding: 1.2rem;
}
.top-box p {
    font-size: 1.5rem;
}
.top-box-a {
    grid-area: top-box-a;

}

.top-box-b {
grid-area: top-box-b; 

}
/* Boxes */
.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    text-align: center;
    margin-top: 20px;
    grid-gap: 20px;


}
.boxes .box  {
    background: var(--primary);
    padding: 1rem 2rem;
    box-shadow: var(--shadow);
}
.info {
    background-color: var(--light);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    padding: 3rem;
    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-attachment: var(--light);
    grid-gap: 20px;
}
.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}
footer {
    margin-top: 2rem ;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

@media (max-width: 700px) {
    .top-container {
        grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b';
    }
    .showcase h1 {
        font-size: 2.5rem;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    } 
    .info {
        grid-template-columns: 1fr;
     }
     .btn {
        display: block;
        text-align: center;
     }
    }
    @media (max-width:500px) {
        .top-container {
        grid-template-areas:
        'showcase'
        'showcase'
        'top-box-a'
        'top-box-b';
    }
        .showcase h1 {
            font-size: 1.5rem;
        }
        .showcase p {
            font-size: 1rem;
        }
        .btn {
            font-size: 0.8rem;
        }
        footer {
            padding: 0;
        }
    }





 

 